<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'homepages/css/case_detail_style.css' %}">
    <title>Case Details</title>
</head>


<body>
    <div id="total">
    <div id="Header">
        <div><span id="HeaderText">Case Number: #</span>{{case.Case_Number}}</div>
    </div>


    <div id="CaseInfo">
        <p id="CaseInfoHeader" class="header">Case Information</p>
        <hr class="SplitLine">
        <div id="CaseInfoArea" class="InputArea">
            <!--show case info here-->
            <table id="CaseTable" border="1" style="border-collapse: collapse;">
                <tr class="caseRowTitle">
                    <th><span class="caseHeader"> Case Number </span></th>
                    <th><span class="caseHeader"> Person_name </span></th>
                    <th><span class="caseHeader"> Identity_Document_Number </span></th>
                    <th><span class="caseHeader"> Date_of_Birth </span></th>
                    <th><span class="caseHeader"> Date_of_Symptoms </span></th>
                    <th><span class="caseHeader"> Date_of_Confirmation </span></th>
                </tr>

                <tr class="caseRow">
                    <td><span id="Case_Number"> {{case.Case_Number}} </span></td>
                    <td><span id="Person_name"> {{case.Person_name}} </span></td>
                    <td><span id="Identity_Document_Number"> {{case.Identity_Document_Number}} </span></td>
                    <td><span id="Date_of_Birth"> {{case.Date_of_Birth}} </span></td>
                    <td><span id="Date_of_Symptoms"> {{case.Date_of_Symptoms}} </span></td>
                    <td><span id="Date_of_Confirmation"> {{case.Date_of_Confirmation}} </span></td>
                </tr>
            </table>
        </div>
    </div>


    <div id="EventInfo">
        <p id="EventInfoHeader" class="header">Event Info</p>
        <hr class="SplitLine">
        <div id="EventInfoArea" class="InputArea">
            <table id="EventTable" border="1" style="border-collapse: collapse;">
                <tr class="eventRowTitle"> <!--each event takes one row-->
                    <th><span id="name" class="eventData">Event Name</span></th>
                    <th><span id="location" class="eventData">Location</span></th>
                    <th><span id="address" class="eventData">Address</span></th>
                    <th><span id="xCoord" class="eventData">xCoord</span></th>
                    <th><span id="yCoord" class="eventData">yCoord</span></th>
                    <th><span id="date" class="eventData">Date: </span></th>
                    <th><span id="description" class="eventData">Description</span></th>
                </tr>
                <!--show Event info here-->
                {% for elements in event_list %}
                <tr class="eventRow">
                    <td>{{elements.event.name}}</td>
                    <td>{{elements.event.location}}</td>
                    <td>{{elements.event.address}}</td>
                    <td>{{elements.event.xCoord}}</td>
                    <td>{{elements.event.yCoord}}</td>
                    <td>{{elements.event.date}}</td>
                    <td>{{elements.description}}</td>
                </tr>
                {% empty %}
                    <p>No result. </p>
                {% endfor %}
            </table>
        </div>
        <!--After the for loop, add this button-->
        <p></p>
        <div id="NewEventBtnArea">
            <button id="RecordNewEventBtn">Record New Event</button>
        </div>
    </div>

    <p></p>
    <div id="lastTwoBtn">
        <button id="HomeBtn">Home</button>
        <button id="BackBtn">Back</button>
    </div>


    <div id="footer">
        <h3>HKU Centre for Health Protection (CHP)</h3>
        <p>Email: <a href=chphku@hku.hk">HKU CHP Office</a>  &nbsp &nbsp &nbsp Telephone: (+852) 2819 2650</p>
    </div>
    <input type="hidden" id="url" data-url="{% url 'create-event' case.pk %}" />
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(
        function(){
            $("#HomeBtn").click(function(){
                document.location.assign("{% url 'home_page' %}")
            });

            $("#BackBtn").click(function(){
                window.history.back();
            });

            $("#RecordNewEventBtn").click(function(){
                url = $("#url").attr("data-url")
                document.location.assign(url)
            });
        }
    )
</script>
</html>