<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" type="text/css" href="{% static 'homepages/css/home_style.css' %}">
<!--    <script src="wapp.js"></script>-->
    <title>SSE Finder</title>
</head>
<style>
    #hello-msg{
        font-size: 18px;
        color: #fff;
        margin-right: 20px;
    }
</style>

<body>
    <span class = " hello-msg">Hello, {{request.user}} </span>
    <p><span class = " hello-msg"><a href = "{% url 'logout' %}">Logout</a></span></p>

    <div id="AddCase">
        <p id="AddCaseHeader" class="header">Add Cases</p>
        <hr class="SplitLine">
        <div id="AddCaseInputArea" class="InputArea">
            <button id="AddCaseBtn">Add New Case</button>
        </div>
    </div>

    <div id="FindSSE">
        <p id="FindSSEHeader" class="header">Find SSE</p>
        <hr class="SplitLine">
        <div id="FindSSEInputArea" class="InputArea">
            <form id="FindCaseInputArea" class="InputArea" action = "{% url 'sse-detail' %}" method = "get">
                <input type="date" name="StartDate" placeholder="Start Date" id="FindSSEStartDate" class="FindSSEDate">
                <p id="FindSSEText">to</p>
                <input type="date" name="EndDate" placeholder="End Date" id="FindSSEEndDate" class="FindSSEDate">
                <button class="search" id="FineSSEBtn">Search</button>
            </form> 
        </div>
    </div>

    <div id="FindCase">
        <p id="FindCaseHeader" class="header">Search For Cases</p>
        <hr class="SplitLine">
        <form id="FindCaseInputArea" class="InputArea" action = "{% url 'case_results' %}" method = "get">
            <input type = "text" name ="q" id="FindCaseInput" placeholder="Enter Search Text ..."/>
            <input id="FindCaseBtn" class="search" type ="submit" value = "Find"/>
        </form> 
    </div>

    <div id="footer">
        <h3>HKU Centre for Health Protection (CHP)</h3>
        <p>Email: <a href=chphku@hku.hk>HKU CHP Office</a></p>
        <p>Telephone: (+852) 2819 2650</p>
    </div>
</body>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(
        function(){
            $("#AddCaseBtn").click(function(){
                document.location.assign("{% url 'case_create' %}")
            });
        }
    )
</script>
</html>