#total{
    background-color: azure;
    background-size: 100% 100%;
    height: 800px;
}

#Header{
    /*background-color: #57b2fb;*/
    background-size: cover;
    /*height: 45px;*/
    font-size: 30px;
    letter-spacing: 1px;
    word-spacing: 5px;
    font-weight: bold;

    text-align: center;

    /*position: absolute;*/
    /*top: 0;*/
    /*left: 0;*/
    /*right: 0;*/
    margin-bottom: 0px;

}

#CaseInfo{
    margin: 20px;
}

#CaseInfoArea{
    display: flex;
    flex-direction: row;
    justify-content: center;

    text-align: center;

    margin-top: 25px;
    margin-bottom: 20px;
}

/*.caseData{*/
/*    font-size: 15px;*/
/*}*/
#CaseTable{
    width: 100%;
}

.caseRowTitle{
    font-size: 20px;
}



.caseHeader{
    font-weight: bold;
}

.caseRow{
    font-size: 15px;
    /*font-weight: normal;*/
}

.header{
    text-align: center;

    /*background-color: #57b2fb;*/

    font-size: 35px;
    letter-spacing: 1px;
    word-spacing: 5px;

    margin-bottom: 0px;
}

#EventTable{
    width: 100%;
}

#EventInfo{
    margin-top: 25px;
    margin-bottom: 25px;
}
#scroll_part{
    height: 320px;
    overflow: auto;
}

.eventRow{
    font-size: 15px;
    text-align: center;
}
.eventRowTitle{
    font-size: 20px;
}

#EventInfoArea{
    display: flex;
    flex-direction: row;
    justify-content: center;
    /*text-align: center;*/

    font-size: 15px;

    width: border-box;

    margin-top: 25px;
    margin-bottom: 25px;
}


.eventData{
    font-weight: bold;
}


.edit{
    font-size: 15px;
}



#NewEventBtnArea{
    text-align: center;
}

#RecordNewEventBtn{
    font-size: 25px;

    margin-top: 10px;
    margin-bottom: 5px;
}

#lastTwoBtn{
    text-align: center;
    margin-top: 60px;
    margin-bottom: 30px;

}

#footer{
    background-color: lightsalmon;
    position: absolute;
    right: 0px;
    bottom: 0px;
    left: 0px;
    padding: 1rem;
}

#home,#back{
    font-size: 28px;
    letter-spacing: 1px;
    margin-top: 25px;
    margin-bottom: 30px;
    margin-right: 20px;
}


#menu{
    display: flex;
    flex-flow: row wrap;
    justify-content: space-between;
}

.hello-msg{
    display: flex;
    flex-flow: column wrap;
    text-align: right;
    font-weight: bold;
}