#total{

    /*background-color: azure;*/
    background-color: greenyellow;
    /*border: black solid 3px;*/
}

.SplitLine{
    color: gray;

    width: 1000px;
}

.search{
    font-size: 15px;
    margin-left: 20px;
    margin-right: 20px;
}

.header{
    text-align: center;

    /*background-color: #57b2fb;*/

    font-size: 30px;
    letter-spacing: 1px;
    word-spacing: 5px;

    margin-bottom: 0px;
}


#AddCaseBtn{
    font-size: 20px;
    margin-top: 5px;
}

.InputArea{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.FindSSEDate{
    margin-top: 3px;
    margin-right: 20px;
    margin-left: 20px;

    font-size: 15px;
}

#FindCaseInput{
    width: 400px;
    margin-top: 3px;
    margin-right: 20px;
    margin-left: 20px;


    font-size: 15px;
}

#AddCase{
    margin-bottom: 30px;
}

#FindSSE{
    margin-top: 30px;
    margin-bottom: 30px;

    font-size: 15px;
}

#FindCase{
    margin-top: 30px;
    margin-bottom: 60px;
}

#footer{
    background-color: lightsalmon;
    position: absolute;
    right: 0px;
    bottom: 0px;
    left: 0px;
    padding: 1rem;
}