<h1> Case Number - - {{Case_Number}}</h1>
<p>--------------------------------------------------------------------------</p>
<h2>Successfully Stored Data </h2>
<p>--------------------------------------------------------------------------</p>
<ul>
            <p>Case Number: {{Case_Number}}</p>
            <p>Person name: {{Person_name}}</p>
            <p>Identity Document Number: {{Identity_Document_Number}}</p>
            <p>Date of Birth: {{Date_of_Birth}}</p>
            <p>Date of Symptons: {{Date_of_Symptons}}</p>
            <p>Date_of_Confirmation: {{Date_of_Confirmation}}</p>

</ul>
<p>--------------------------------------------------------------------------</p>
