<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    {% load static %}
    <link rel="stylesheet" href="{% static 'Event/css/sse_detail.css' %}">
    <title>SSE Detail</title>
</head>

<body>
<div id="total">
    <div id="menu">
        <div id="left">
            <button id="home">Home</button>
            <button id="back">Back</button>
        </div>
        <div class="hello">
            <span class = "hello-msg">Hello, {{request.user}} </span>
            <p><span class = "hello-msg"><a href = "{% url 'logout' %}">Logout</a></span></p>
        </div>
    </div>

    <div id="Header">
        <div><span>{{public_event.name}}</span></div>
    </div>

    <hr class="SplitLine">

    <!--    This part is the original code-->
    <!--    <div id="eventTitle">-->
    <!--        <p id="eventTitleHeader" class="header">{{public_event.name}}</p>-->
    <!--        <hr class="SplitLine">-->
    <!--    </div>-->

    <div id="PublicEventInfo">
        <div id="PublicEventInfoArea" class="InputArea">
            <table id="PublicEventTable" class="EventTable" border="1" style="border-collapse: collapse;">
                <tr class="eventRowTitle">
                    <th><span id="name" class="eventData">Event Name</span></th>
                    <th><span id="location" class="eventData">Location</span></th>
                    <th><span id="address" class="eventData">Address</span></th>
                    <th><span id="xCoord" class="eventData">xCoord</span></th>
                    <th><span id="yCoord" class="eventData">yCoord</span></th>
                    <th><span id="date" class="eventData">Date</span></th>
                </tr>
                <!--show Event info here-->
                <tr class="eventRow">
                    <td>{{public_event.name}}</td>
                    <td>{{public_event.location}}</td>
                    <td>{{public_event.address}}</td>
                    <td>{{public_event.xCoord}}</td>
                    <td>{{public_event.yCoord}}</td>
                    <td>{{public_event.date}}</td>
                </tr>
            </table>
        </div>
    </div>

    <div id="PersonalEventInfo">
        <div id="PersonalEventInfoArea" class="InputArea">
            <table id="PersonalEventTable" class="EventTable" border="1" style="border-collapse: collapse;">
                <tr class="eventRowTitle">
                    <th><span id="caseNumber" class="eventData">Case Number</span></th>
                    <th><span id="type" class="eventData">Type</span></th>
                    <th><span id="eventDescription" class="eventData">Event Description</span></th>
                </tr>
                <!--show Event info here-->
                {% for personal_event_data in personal_event_data_list %}
                <tr class="eventRow">
                    <td><a class="case_detail_redirect" href={% url 'case_detail_page' %}?Case_Number={{personal_event_data.case_number}}>
                        {{personal_event_data.case_number}}
                        </a></td>
                    <td>{{personal_event_data.type}}</td>
                    <td>{{personal_event_data.event_description}}</td>
                </tr>
                {% endfor %}
            </table>
        </div>
    </div>


    <div id="footer">
        <h3>HKU Centre for Health Protection (CHP)</h3>
        <p>Email: <a href=chphku@hku.hk>HKU CHP Office</a>  &nbsp &nbsp &nbsp Telephone: (+852) 2819 2650</p>
    </div>
</div>
</body>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.6.0/jquery.min.js"></script>
<script>
    $(document).ready(
        function(){
            $("#home").click(function(){
                document.location.assign("{% url 'home_page' %}")
            });

            $("#back").click(function(){
                window.history.back();
            });
        }
    )
</script>
</html>